body {
    background-color: #501214;
}

a {
    cursor: pointer;
}

table {
    width: 98%;
}

td {
    border: 2px #DDD double;
    padding: 5px;
    cursor: pointer;
}

#content-target {
    width: 100%;
    height: 480px;
}

#validationResultsArea {
    width: 100%;
    height: 100px;
}

.badge {
    background-color: #27629a;
}

.textColor {
    color: white;
}

#watermark
{
    position:fixed;
    opacity:0.2;
    color: white;
    height: 400px;
    bottom: 72px;
    left: 400px;
    z-index: -1;
}

#ftr {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.badge {
    margin-left: 10px;
}

.errorMsg{
    color: red;
}

.hidden {
    visibility: hidden;
    display: none;
}

#stateSelector:disabled {
    cursor: not-allowed;
}

#formulaInput:disabled {
    cursor: not-allowed;
}

.selected {
    background-color: #055160;
    color: white;
}