body {
    background-color: #501214 !important;
}

textarea {
    width: 100%;
    height: 150px;
}

.badge {
    background-color: #27629a;
}

.textColor {
    color: white;
}

#watermark
{
    position:fixed;
    opacity:0.2;
    color:white;
    height: 400px;
}

#ftr {
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 60px;
}

.badge {
    margin-left: 10px;
}